# Archivos de PyCharm
.idea/

# Archivos de entornos virtuales
venv/

# Archivos y carpetas comunes de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite
*.db

# Archivos de PyInstaller
/build/
/dist/
/__pycache__/
/*.spec
*.pyc
*.pyo
*.pyd
*.so
*.c
*.dll
*.dylib
*.o
*.a